<!-- Footer content -->

<footer class="footer">
    <section class="footer_content">
        <nav class="footer_sections">
            <ul class="footer_maintext">
                <li class="footer_item"> <a class="footer_link" href="https://adalab.es/" target="_blank"  title="Ir a articles">articles</a>
                </li>
                <li class="footer_item"> <a class="footer_link" href="https://adalab.es/" target="_blank"  title="Ir a books">books</a>

                </li>
                <li class="footer_item"> <a class="footer_link" href="https://adalab.es/" target="_blank" title="Ir a events">events</a>

                </li>
                <li class="footer_item"> <a class="footer_link" href="https://adalab.es/" target="_blank" title="Ir a reasons">reasons</a>

                </li>
                <li class="footer_item"> <a class="footer_link" href="https://adalab.es/" target="_blank"title="Ir a tips">tips</a>

                </li>
            </ul>
        </nav>
        <nav class="footer_social">
            <ul class="footer_list">
                <li class="footer_item">
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Siguenos en Twitter"> twitter </a>
                <li class="footer_item">
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Siguenos en instagram"> instagram </a>
                </li>
                <li class="footer_item">
                    <a class="footer_link" href="https://adalab.es/" target="_blank" title="Siguenos en mastodon.social"> mastodon.social </a>
                </li>
            </ul>
        </nav>
        <aside class="footer_copy">
            <p class="year"><small>&copy;2017</small></p>
            <p class="we"><small>we <span class="heart"> ❤︎ </span>components</small></p>
        </aside>

        
    </section>

</footer>

