<main class="container container_main">
    <article class="tips">
        <p class="tips_subtext">Insomnia Tips</p>
        <h2 class="tips_title">Looking Through A Window</h2>
        <p class="tips_content"> Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam
            nec lectus. Vivamus semper sodales rutrum.</p>
        <div class="box_tips">
            <a class="button_tips">Go</a>
        </div>
    </article>
</main>

<section class="3 reasons">
    <div class="container_reason">
        <article class="article_reason">
            <h2 class="text_reason">3 Reasons To Purchase</h2>
            <div class="container_article">
            <div class="article1">
                <h3 class="article_text">Ut sed metus</h3>
                <p class="article_content">Lorem ipsum dolor sit amet consectetur.</p>
            </div>

           <div class="article2">
            <h3 class="article_text">Curabitur ac erat</h3>
            <p class="article_content">Mauris mattis urna quis lorem molestie.</p>
            </div>

            <div class="article3">
            <h3 class="article_text">Morbi dictum</h3>
            <p class="article_content">Aliquam in dolor et dolor tincidunt.</p>
            </div>
            
            </article>
            </div>

    </div>
</section>