#colorBlindSVG{
    display: none;
}


.footer {
    background: $colorFooter;
    text-align: center;
    margin-top:0px;
    padding: 45px 0 45px;
    background-color: #304268;
    font-family: $fontSecundary;
    font-size: 16px;
    color:$colorText;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer_sections, .footer_social{
text-transform: uppercase;
}


.we{
    width: 290px;
  height: 30px

}
.heart {
    color:$colorBorder;
}


// Responsive design starts here

@include forTablet {
    // .footer{
    
    //     display:inline;
    //     display: flex;
    //     flex-direction:row;
    //     justify-content: flex-start;
       
    // }

    .footer_content{
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 690px;
        margin-top: 45px;
        margin-left: 35.7px;
       

        .footer_social{

           display: flex;
           width: 279px;
           height: 150px; 
           order:3;
           
        } 
        .footer_sections{
            display: flex;
            width: 210px;
            height: 150px;
            order:2;
                
        }
        .footer_copy{
            display: flex;
            display: block;
            text-align:justify;
            width: 279px;
           height: 150px; 
        
        }
        
}
    
}


