.box_hero {
  background-image: url(../images/cover.jpg);
  height: 100vh;
  max-height: 568px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: intro;
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes intro {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.hero_text {
  width: 290px;
  margin: auto;
  color: $colorText;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .hero_title {
    width: 290px;
    height: 110px;
    font-family: $fontPrimary;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    margin-top: 280px;

    & h1 {
      margin: 0px;
      padding: 0px;
    }
  }

  .hero_subtitle {
    font-family: $fontSecundary;
    height: 21px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
  }
}

.button_scroll_down {
  margin: auto;
}

// Responsive starts here

@include forTablet {
  .box_hero {
    max-height: 768px;
    height: 100vh;
  }
  .hero_text {
    width: 690px;
    margin: auto;
    color: $colorText;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    .hero_title {
      width: 690px;
      height: 212px;
      font-family: $fontPrimary;
      font-size: 80px;
      line-height: 106px;
      margin-top: 380px;
      margin-bottom: 0px;
    }

    .hero_subtitle {
      font-family: $fontSecundary;
      width: 360px;
      height: 32px;
      font-size: 24px;
      margin: auto;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .button_scroll_down {
    margin: auto;
  }
}

@include forPc {
  .box_hero {
    max-height: 768px;
    height: 100vh;
    width: 100%;

    .hero_text {
      margin: auto;
      color: $colorText;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: center;
    }
  }
  .hero_title {
    font-size: 100px;
    width: 730px;
    height: 264px;
    line-height: 1.32px;
    margin-top: 384px;
  }
}
