.box_hero {
  background-image: url(../images/cover.jpg);
  height: 100vh;
  max-height: 568px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-content: center;
}
.hero_text {
  width: 290px;
  margin: auto;
  color: $colorText;
  text-align: center;

  .hero_title {
    width: 290px;
    height: 110px;
    font-family: $fontPrimary;
    font-size: 42px;
    line-height: 55px;
    text-align: center;
    margin-top: 280px;

    & h1 {
      margin: 0px;
      padding: 0px;
    }
  }

  .hero_subtitle {
    font-family: $fontSecundary;
    height: 21px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
  }
}

.button_scroll_down {
  margin: auto;
}
