.tips_subtext{
width: 90px;
height: 30px;
font-family: $fontSecundary;
font-size: 14px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 2.14;
letter-spacing: normal;
color: $colormain;
}

.tips_title{

  height: 60px;
  font-family: $fontPrimary;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: $colorContent;
}
// .tips_content{
//   color:$colorContent;
//   height: 120px;
//   font-family: $fontSecundary;
//   font-size: 18px;
//   font-weight: normal;
//   font-stretch: normal;
//   font-style: normal;
//   line-height: 1.67;
//   letter-spacing: normal;

// }

