.tips {
  &_subtext {
    width: 90px;
    height: 30px;
    font-family: $fontSecundary;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    color: $colorMain;
  }
  &_title {
    width: 290px;
    height: 60px;
    font-family: $fontPrimary;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: $colorGeneral;
  }
  &_content {
    width: 290px;
    height: 120px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: $colorContent;
  }
}

.box_tips {
  width: 76px;
  height: 45px;
  border-radius: 22.5px;
  border: solid 2px $colorBorder;
  text-align: center;
  margin-bottom: 45px;
  .button_tips {
    width: 25px;
    height: 45px;
    font-family: $fontSecundary;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.25;
    letter-spacing: normal;
    text-align: center;
    color: $colorBorder;
  }
}

// section 3 reasons start here

.container_reason  {
  background-color: $colorClear;
  width: 100%;
  height: 624px;
  position: relative;
}

.text_reason {
  text-align: center;
  padding: 30px 15px;
  font-family: $fontPrimary;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: $colorGeneral;
}
.container_article {
  text-align: center;
  max-width: 180px;
  margin: auto;
  display: grid;
  grid-gap: 45px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  .article_text {
    font-family: $fontPrimary;
    font-weight: bold;
    color: $colorGeneral;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    width: 184px;
    height: 30px;
  }
}
.article_content {
  margin: 0px;
  padding: 0px;
  width: 180px;
  height: 63px;
  font-family: $fontSecundary;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;

  .article3 {
    padding-bottom: 45px;
  }
}
.box_reason {
  width: 184px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $colorBorder;
  text-align: center;
  margin: auto;
  text-transform: none;
  margin-top: 45px;
}
.button_reason {
  width: 124px;
  height: 45px;
  font-family: $fontSecundary;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: $colorClear;
}
// button scroll up

.button_scroll_up {
  left: 50%;
  position: absolute;
  z-index: 5;
  bottom: 0%;
  transform: translate(-50%, +50%);
}

// Here starts responsive design

@include forTablet {
  .tips {
    &_subtext {
      width: 216px;
    }
    &_title {
      width: 690px;
      height: 45px;
      font-size: 26px;
      line-height: 1.73;
    }
    &_content {
      width: 690px;
      height: 60px;
      font-size: 20px;
      line-height: 1.5;
    }
  }
  .box_tips {
    width: 91px;
    margin-bottom: 60px;
    margin-top: 30px;
  }
  .container_main {
    height: 330px;
  }
  .container_reason  {
    height: 397px;
  }
  .container_article {
    max-width: none;
    display: grid;
    grid-gap: 28px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 35.7px;
    justify-items: flex-start;
    align-items: center;
    .article_text {
      font-size: 24px;
      line-height: 1.25;
      width: 210px;
    }
  }
  .text_reason {
    padding: 30px 15px;
    font-size: 26px;
    line-height: 1.73;
  }
  .article_content {
    margin: 0px;
    padding: 0px;
    width: 212.3px;
    height: 68px;
    font-family: $fontSecundary;
    font-size: 20px;
    line-height: 1.5;
    &.article3 {
      padding-bottom: 0px;
    }
  }
  .box_reason {
    margin-top: 60px;
    text-transform: none;
    width: 210px;
    text-align: center;
  }
}

@include forPc {
  .tips {
    &_subtext {
      width: 360px;
      font-size: 16px;
      margin-top: 60px;
    }
    &_title {
      width: 730px;
      font-size: 32px;
      line-height: 1.41px;
    }
    &_content {
      width: 730px;
    }
    .box_tips {
      width: 160px;
    }
  }
  .container_main {
    height: 360px;
  }
  .container_reason  {
    height: 427px;
  }
  .text_reason {
    padding: 30px 15px;
    font-size: 32px;
    line-height: 1.41;
  }
  .container_article {
    text-align: center;
    grid-gap: auto;
    margin-left: 81.2px;
    justify-items: flex-start;
    align-content: space-around;
    .article_text {
      width: 350px;
    }
    .article_content {
      width: 353.8px;
    }
    .box_reason {
      width: 255px;
  }
}
}
