.button {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color:$colorText;
  display: flex;
  justify-content: center;
  align-items: center;
}


// container

// .container {
// width:100%;
// max-width: 290px;
// margin:auto;

// @include forTablet{
//   width: 100%;
//   max-width: 800px;
//   margin:39px;
// }

// }






