// Fonts

$fontPrimary: "Roboto Slab";
$fontSecundary: "Roboto";

// Colors

$colorButton:#0271bc;
$colorText:#fff;
$colorBorder: #f26002;
$colorMain: #8ccbea;
$colorGeneral:#000000;
$colorContent:#4a4a4a;
$colorClear:#eff9ff;
$colorFooter:#304268;


// Breakpoints

$tablet:768px;