// Fonts

$fontPrimary: "Roboto Slab";
$fontSecundary: "Roboto";

// Colors

$colorButton:#0271bc;
$colorText:#fff;
$colorcontent: #f26002;
$colormain: #8ccbea;
$colorGeneral:#000000;
$colorContent:#4a4a4a;


// Breakpoints

$tablet:768px;